.hashtag_count{
    display: block;
    float: left;
    font-size: 1.4em;
    margin-right: 6px;
}
.hashtag_close{
    background-image: url("~/application/modules/Hashtag/externals/images/close.png");
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin-bottom: -4px;
    margin-left: 1px;
    width: 16px;
}
.hashtag_close:hover{
    background-image: url("~/application/modules/Hashtag/externals/images/close-h.png");
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin-bottom: -4px;
    margin-left: 1px;
    width: 16px;
}
.hash{
    background-image: url("~/application/modules/Hashtag/externals/images/icon_hash.gif");
    background-repeat: no-repeat;
    display: inline-block;
    height: 17px;
    margin-bottom: -3px;
    margin-left: 1px;
    width: 17px;
    background-color: #fff9e7;
    margin-right: 5px;
}
.hastag_result{
    font-weignt:bold;
    margin-right: 6px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    -moz-top: 3px;
    width: 150px;
  /*  margin-right: 6px;
    position: relative;
    background-color: #fff;
    background-image: url("~/application/modules/Hashtag/externals/images/button.png");
    border: #ccc solid 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 18px;
    max-width: 98%;
    padding: 4px;
    margin-bottom: -8px;
    display: inline-block;
    top: -9px;*/
}


.count-o {
    float: right;
    position: relative;
    background: #fff;
    border: #bbb solid 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    min-height: 18px;
    _height: 18px;
    min-width: 15px;
    _width: 15px;
}
.count-o i, .count-o u {
     position: absolute;
     zoom: 1;
     line-height: 0;
     width: 0;
     height: 0;
     left: 0;
     top: 50%;
     margin: -4px 0 0 -4px;
     border: 4px transparent solid;
     _border-color: pink;
     _filter: chroma(color=pink);
     border-right-color: #aaa;
     border-left: 0;
 }
.box_for_hashtag{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    position: absolute;
    min-width: 150px;
    z-index: 99999;
    color: #555555;
    box-shadow: 0 0px 4px rgba(51,51,51,0.25);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4);

    border-radius: 3px 3px 3px 3px;



}
.link_hashtag_div{
    top: 1px;
    position: relative;
    display: inline;
}
.link_hash_tag{
    font-size: 0.8em;font-family: tahoma,arial,verdana,sans-serif;
}
.link_tag{
    padding: 6px;
    display: block;
    color: #555555;

}
.link_tag_select{
    padding: 6px;
    display: block;
    color: #555555;
    font-weight: bold;

}
.link_tag_sel{
    padding: 6px;
    display: block;
    color: #555555;
    font-weight: bold;
    display: inline-block;
    position: relative;
    top: -3px;
}

.link_tag:hover{
    color: #555555;
    padding: 6px;
    display: block;
    background-color:#EEEEEE;

}
.link_tag_select:hover{
    color: #555555;
    padding: 6px;
    display: block;
    background-color:#EEEEEE;
    font-weight: bold;


}
.hashtag_linc{
    margin-left: 60px;
}
.wall-menu-expand-link-hashtag {
    border: 1px solid $theme_border_dark_color;

    cursor: pointer;
    display: block;
    height: 12px;

    right: 5px;
    top: 5px;
    width: 12px;

    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -khtml-border-radius: 12px;
    -o-border-radius: 12px;
    -ms-border-radius: 12px;
    -icab-border-radius: 12px;
    border-radius: 12px;

}
.wall-menu-expand-link-hashtag .wall_arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #BBBBBB;
    cursor: pointer;
    display: block;
    height: 0;
    margin-left: 2px;
    margin-top: 5px;
    width: 0;
}
.wall-menu-hashtag{
    background-color:$theme_body_background_color;
    border: 1px solid $theme_border_medium_color;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    display: none;
    margin-top: 4px;
    padding: 5px 0;
    width: 220px;
    z-index: 100;
    opacity: 0.9;
}
.left_hashtag {
    background-image:url(~/application/modules/Hashtag/externals/images/strb.png);
    background-position: -433px -73px;
    background-repeat:no-repeat no-repeat;
    display:inline-block;
    height:14px;
    line-height:14px;
    vertical-align:text-top;
    width:14px;
}
.right_hashtag {
    background-image:url(~/application/modules/Hashtag/externals/images/strb.png);
    background-position: -458px -73px;
    background-repeat:no-repeat no-repeat;
    display:inline-block;
    height:14px;
    line-height:14px;
    vertical-align:text-top;
    width:14px;
}
.left_hashtag_off{
    background-image:url(~/application/modules/Hashtag/externals/images/strb.png);
    background-position: -433px -73px;
    background-repeat:no-repeat no-repeat;
    display:inline-block;
    height:14px;
    line-height:14px;
    vertical-align:text-top;
    width:14px;
    opacity: 0.35;


}
.right_hashtag_off{
    background-image:url(~/application/modules/Hashtag/externals/images/strb.png);
    background-position: -458px -73px;
    background-repeat:no-repeat no-repeat;
    display:inline-block;
    height:14px;
    line-height:14px;
    vertical-align:text-top;
    width:14px;
    opacity: 0.35;

}
.layout_active_theme_clean .h3_hashtag{

    height: 19px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: -20px;
}
.layout_active_theme_default .h3_hashtag{

    height: 19px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    overflow: hidden;
    margin-top: 20px;
    padding: 6px;
    border-radius: 2px;
}
.layout_active_theme_modern .h3_hashtag{

    height: 19px;
    overflow: hidden;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06) inset;
    overflow: hidden;
    position: relative;
     margin-top: 20px;
    padding: 6px;
}
.layout_active_theme_midnight .hastag_result{
    margin-right: 6px;
    position: relative;
    background-image: url("~/application/modules/Hashtag/externals/images/button.png");
    border: #ccc solid 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 18px;
    max-width: 60%;
    padding: 4px;
    margin-bottom: -8px;
    display: inline-block;
    top: -6px;
    background-color: #262C36;
    overflow: hidden;
}
.layout_active_theme_midnight .left_hashtag{
    background-image:url(~/application/modules/Hashtag/externals/images/strw.png);
    background-position: -433px -73px;
    background-repeat:no-repeat no-repeat;
    display:inline-block;
    height:14px;
    line-height:14px;
    vertical-align:text-top;
    width:14px;
    opacity: 0.35;
}

.layout_active_theme_midnight .right_hashtag{
    background-image:url(~/application/modules/Hashtag/externals/images/strw.png);
    background-position: -458px -73px;
    background-repeat:no-repeat no-repeat;
    display:inline-block;
    height:14px;
    line-height:14px;
    vertical-align:text-top;
    width:14px;
    opacity: 0.35;

}
.layout_active_theme_midnight .left_hashtag_off{
    background-image:url(~/application/modules/Hashtag/externals/images/strw.png);
    background-position: -433px -73px;
    background-repeat:no-repeat no-repeat;
    display:inline-block;
    height:14px;
    line-height:14px;
    vertical-align:text-top;
    width:14px;
    opacity: 0.35;


}
.layout_active_theme_midnight .right_hashtag_off{
    background-image:url(~/application/modules/Hashtag/externals/images/strw.png);
    background-position: -458px -73px;
    background-repeat:no-repeat no-repeat;
    display:inline-block;
    height:14px;
    line-height:14px;
    vertical-align:text-top;
    width:14px;
    opacity: 0.35;

}
.trands_hashtag{
    color:#555555;
    text-decoratiom:none
}
.layout_active_theme_midnight .trands_hashtag{
    color:#fff;
    text-decoratiom:none

}
.generic_layout_container + .layout_hashtag_trands {
    margin-top: 20px;
    margin-bottom: 20px;
}
.wall-action-item + .wall-action-item {
    border-top-width: 1px;
    padding-top: 10px;
}
.wall-action-item {
    padding-bottom: 10px !important;
}
.global_form div.form-label #options-label{
    width: 0px !important;

}
.layout_active_theme_slipstream .hashtag_composer_cont{
    padding: 10px;
}