/*
.wall-action-item {
    position: absolute;
}
.pinfeed {
    position: absolute;
}*/
.layout_left {
    padding-top: 2px !important;
}
.pinfeed .wall-action-item{
    width: 240px;
    margin-bottom: 15px;
}
.pinfeed h3 {
   background-color: #fff;
   margin-left: 6px;

}
.feed_item_date .feed_item_icon .activity_icon_status{
   display: block;
}
.pinfeed{
    margin-top: 10px;
   /* width: 100%;*/
}
.pinfeeds{
    padding-left: 2px;
    padding-bottom: 15px;
}
.pinfeed .activity_icon_status{
    background-repeat: no-repeat !important;
}
.pinfeed .item_icon_album, .item_icon_album_photo{
    background-repeat: no-repeat !important;
}
.pinfeed .item_icon_blog, .item_icon_blog_entry{
    background-repeat: no-repeat !important;
}
.pinfeed .item_icon_store_product{
    background-repeat: no-repeat !important;
}
/* Feed */
.pinfeed-page .layout_left{
    margin-right: 0;
    padding-right: 0;
    padding-top: 2px;
}
.pinfeed-page .layout_left > div{
    box-shadow: 0 3px 5px #aaa;
    margin-bottom: 20px;
    padding: 4px 11px 14px;
    border: 1px solid #B9B8B8;
}
.pinfeed-page .layout_left > div h3{
    margin-top: 5px;
}
.pinfeed-page .page_list{
    margin-bottom: 0;
}
.pinfeed_comments{
    margin-left: 0px;
    width: 440px;
}
.wall-stream {
    margin: -5px 0 !important;
}
.pinfeed .pagination{
clear: both !important;
float: left !important;
}

.pinfeed_widget_container{

    box-shadow: 0 2px 4px rgba(30, 30, 30, 0.4);
    display: block;
    float: right;
    margin-top: 13px;
    padding: 20px 9px 9px;
    width: 200px;
}
.pinfeed .wall-action-item{
    -moz-box-shadow: 0px 2px 4px 0px rgba(30, 30, 30, 0.4);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(30, 30, 30, 0.4);
    -o-box-shadow: 0px 2px 4px 0px rgba(30, 30, 30, 0.4);
    box-shadow: 0px 2px 4px 0px rgba(30, 30, 30, 0.4);
    display: block;
    float: left;
    padding: 14px 11px 0 11px;
    border: 1px solid #BBBBBB\0/;
  /*  \\border: 1px solid #B9B8B8; *//* IE8*/


}


.pinfeed > li .feed_item_photo{
    float: left;
    padding-right: 6px;
    margin-bottom: 2px;
}
.pinfeed > li .feed_item_generated, ul.pinfeed > li .feed_item_posted{
    display: inline-block;
    width: 165px;
}
.pinfeed > li .feed_item_generated .feed_item_username:first-child, ul.pinfeed > li .feed_item_posted .feed_item_username:first-child{
    font-weight: bold;
}
.pinfeed > li .feed-dateline{
    font-size: 12px;
    margin-bottom: 10px;
}
.pinfeed > li .link_hashtag_div{
    background: #f2f2f2;
    border-right: 3px solid #464646;
    float: right;
    margin-right: -14px;
    margin-top: -2px;
    padding: 2px 6px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    max-width: 100px;
    overflow: hidden;
    font-size: 15px;
    line-height: 20px;
}
.pinfeed > li .link_hashtag_div:hover{
    background: #464646;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    max-width: 100px;
    overflow: hidden;
    font-size: 15px;
    line-height: 20px;
}
.pinfeed > li .link_hashtag_div:hover a{
    color: #fff;
    text-decoration: none;
}
.pinfeed > li .feed_item_attachments{
    margin-bottom: 10px;
    text-align: center;
    width: 215px;
}
.pinfeed > li .feed_item_attachments .feed_item_link_title, ul.pinfeed > li .feed_item_attachments .feed_item_link_desc{
    font-size: 12px;
    text-align: left;
}
.pinfeed > li .feed_item_date{
    clear: both;
    margin-bottom: 9px;
}
.pinfeed > li .comments li{
    border-top: 1px solid #EEEEEE;
    margin-left: 0px;
    width: 252px;
}
.pinfeed > li .comments{
    margin-bottom: -10px;
    margin-left: -11px;
    width: 262px;
}
.pinfeed ul.feed .comments {
    width: 240px !important;
}
.wall-menu {
    opacity: 1;
}
.pinfeed > li .feed_attachment_album_photo{
   /* float: right;*/
    clear: right;
}
.pinfeed > li .feed_attachment_album_photo:first-child{
    float: left;
}
.pinfeed > li .feed_attachment_album_photo:first-child a > img{
    max-height: 160px;
    max-width: 140px;
    margin-right: 2px;
}
.pinfeed .thumb_profile, .pinfeed .item_photo_album_photo, .pinfeed .thumb_profile{
    max-width: 211px !important;
}
.pinfeed .feed_attachment_photo{
    float: left !important;
}
.pinfeed .wall-menu-expand-link{
    border: 0px !important;
}
.pinfeed .wall-menu-expand-link:hover{
    border: 0px !important;
}
.fake-composer{
    display: inline-block;
    margin: 0 20px 30px;
}
.fake-composer .textarea{
    background: #fff;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06) inset;
    color: #909090;
    padding: 6px 10px;
    width: 440px;
}
.fake-composer .textarea > i{
    color: #ccc;
    float: right;
    font-size: 20px;
    margin-left: 14px;
}
.fake-lists{
    float: right;
    margin-right: -17px;
    margin-top: 3px;
    position: absolute;
    right: 0px;
    top: 10px;
    width: 370px;
}
.fake-lists ul{
}
.fake-lists a{
    color: #555555;
    background: #f2f2f2;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 12px;
    margin: 0;
    padding: 7px 12px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.fake-lists li:first-child{
}
.fake-lists a.active, .fake-lists a:hover{
    background: #464646;
    color: #fff !important;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
.fake-lists .active, .fake-lists li:hover{

    color: #fff !important;

}
.fake-lists li i{
    line-height: 12px;
}
/*.pinfeed .wall_blurlink{
     color: #555555;
 }
.pinfeed .wall_blurlink:hover{
    color: #fff;
}*/
.pinfeed_loader{
    float: left;
    height: 16px;
    margin-right: 13px;
    margin-top: 3px;
    width: 16px;
    z-index: 5000;
    background-image: url("~/application/modules/Pinfeed/externals/images/loader.gif");
    display: none;
}
#header_hashtag .h3_hashtag{
    float: left;
    margin-top: -10px;
}


#header_hashtag .h3_hashtag {
    height: 20px;
    margin-bottom: 0px;
    margin-top: -10px;
    overflow: hidden;
    width: 100%;
    color: #ffffff;
}
.pinfeed .activity-feed h3{
    background: none;
}

.wpContainerVideo{
    text-align: center;
}
#videoViewer{
    background-color:#000000 ;
    position: fixed;
    z-index: 8008;

 }
.close-video-contaner{
    float: right;
    width: 16px;
    height: 16px;
    margin: 12px;
    background-image: url("~/application/modules/Pinfeed/externals/images/close.png");
}
.layout_left {
    margin-right: -5px !important;

}
.generic_layout_container{
    margin-bottom: 5px;
}
.pinfeed .feed_item_icon{
    background: none !important;
    margin-left: -10px;
}
.feed_item_option_date{
    line-height: 20px;
}
#header_hashtag{
    margin-top: 21px;
    width: 92%;
    display:none;

}
.pinfeed img.main, img.thumb_normal, img.thumb_profile, img.thumb_icon {
    border: none !important;
}
.img.thumb_icon {
    border: none !important;
}
.pagination{
    margin-bottom: 30px;
}
.loader{
    margin-bottom: 30px;
}
.layout_active_theme_midnight .fake-lists a{
    background: none;
    color: #4587C0;
}
.layout_active_theme_midnight .pinfeed > li .link_hashtag_div {
    background: none;
}
.layout_active_theme_modern #header_hashtag {
    clear: both;
    display: block;
    margin-top: 42px;
    position: relative;
}
.layout_active_theme_modern .pinfeed .feed_item_icon {
    margin-left: 0px !important;
}
.pinfeed .thumb_normal {
    max-width: 200px !important;
    margin-bottom: 10px;
}
.hqContent{
    width: 180px !important;
    margin-bottom: 5px !important;
}
.hqAddAnswer{
    width: 180px !important;
}
.video_background{
    background: none repeat scroll 0 0 #000000;
    height: 100%;
    opacity: 0.58;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}
.pinfeed .music_player {
    max-width: 195px !important; ;
}
.pinfeed .item_photo_music_playlist{
    max-width: 195px;
}
.pinfeed .music_player_top {
    clear: both;
    max-width: 195px !important;
}
.pinfeed .music_player_info {
    clear: both;
}
.pinfeed .hqContentMore {
    width: 200px !important;
}
.layout_page_pinfeed_index_index .headline h2{
    margin-bottom: 5px !important;
}
.layout_page_pinfeed_index_index .tabs{
    clear: both;
}
.layout_page_pinfeed_index_index .tabs > ul li {
    clear: both;
    display: block;
    float: none !important;
    margin-bottom: 5px;
    margin-left: 10px;
    overflow: hidden;
}
.layout_active_theme_slipstream .feed_item_photo {
    position: relative !important;

}
.layout_active_theme_slipstream .feed_item_body > * {
     margin-left: 0px !important;
}
.layout_active_theme_slipstream .timestamp{
    margin-left: 13px !important;
}
.layout_active_theme_slipstream .pinfeed{
    margin-left: 10px !important;
}
ul.feed .comments textarea {
    max-width: 244px !important;
}
.layout_active_theme_transformer #global_wrapper div#global_content {
    max-width: none !important;

}
ul.feed .feed_attachment_photo a > img{
    margin-right: 2px;
}
.like_action_container .right .likes .item a img {
    margin-right: 2px;
}