/* $Id: main.css 18.06.12 10:52 michael $ */


.form-elements > .wall-subform-wrapper
{
  overflow: hidden;
  clear: both;
  border-bottom: 1px solid #eee;
  padding: 15px 0px 15px 0px;
}
.form-elements > .wall-subform-wrapper + .wall-subform-wrapper {
  border-bottom: none;
}

.wall_list_lists {
  overflow: hidden;
  width: 500px;
}
.wall_list_lists > li {
  border-bottom-width: 1px;
  padding: 3px 3px 6px;
}
.wall_list_lists > li.disabled {
  background: #fefcfc;
}
.wall_list_lists > li.disabled .list-label,
.wall_list_lists > li.disabled a,
.wall_list_lists > li.disabled a:hover {
  color: #e0dfdf;
  text-decoration: none;
}
.wall_list_lists > li.default {
  background: #ffffdd;
}
.wall_list_lists li.default .make_list_default {
  display: none;
}
.wall_list_lists li .make_list_default {
  display: block;
}
.wall_list_lists li.default .make_list_default_span {
  display: block;
}
.wall_list_lists li .make_list_default_span {
  display: none;
}
.wall_list_lists .list-options {
  overflow: hidden;
  float: right !important;
}
html[dir=rtl] .wall_list_lists .list-options {
  float: left !important;
}
.wall_list_lists .list-label,
.wall_list_lists .list-options,
.wall_list_lists .list-checked {
  float: left;
  margin-right: 5px;
  line-height: 15px;
}
html[dir=rtl] .wall_list_lists .list-label,
html[dir=rtl] .wall_list_lists .list-options,
html[dir=rtl] .wall_list_lists .list-checked {
  float: right;
}
.wall_list_lists .list {
  overflow: hidden;
}
.wall_list_lists .list-label {
  width: 200px;
}
.wall_list_lists .list-checked {
}

.wall-elem-desc {
  font-size: 8pt;
  margin-bottom: 15px;
}


.wall_admin_table {
  width: 500px;
}

.wall_admin_table > li {
  margin:3px 0;
  padding: 3px 3px 6px;
}
.wall_admin_table > li > .wall_category {
  font-weight: bold;
}
.wall_admin_table > li > ul {

}
.wall_admin_table > li > ul > li {
  margin:3px 0;
  border-bottom-width: 1px;
  padding: 3px 3px 6px;
  overflow: hidden;
}
.wall_admin_table > li > ul > li .item_checked,
.wall_admin_table > li > ul > li .item_title,
.wall_admin_table > li > ul > li .item_options {
  float: left;
  margin-right: 5px;
  line-height: 15px;
}
html[dir=rtl] .wall_admin_table > li > ul > li .item_checked,
html[dir=rtl] .wall_admin_table > li > ul > li .item_title,
html[dir=rtl] .wall_admin_table > li > ul > li .item_options {
  float: right;
}

.wall_admin_table > li > ul > li .item_title {
  width:200px;
}

.wall_admin_table > li > ul > li.disabled {
  background: #fefcfc;
}
.wall_admin_table > li > ul > li.disabled .item_title,
.wall_admin_table > li > ul > li.disabled a,
.wall_admin_table > li > ul > li.disabled a:hover {
  color: #e0dfdf;
  text-decoration: none;
}

.wall_admin_table .item_options {
  overflow: hidden;
  float: right !important;
}
html[dir=rtl] .wall_admin_table .item_options {
  float: left !important;
}



.wall_tabs_content li.disabled {
  background: #fefcfc;
}
.wall_tabs_content li.disabled .tab-label,
.wall_tabs_content li.disabled a,
.wall_tabs_content li.disabled a:hover {
  color: #e0dfdf;
  text-decoration: none;
}
.wall_tabs_content li.default {
  background: #ffffdd;
}
.wall_tabs_content li.default .make_tab_default {
  display: none;
}
.wall_tabs_content li .make_tab_default {
  display: inline;
}
.wall_tabs_content li.default .make_tab_default_span {
  display: inline;
}
.wall_tabs_content li .make_tab_default_span {
  display: none;
}


.wall_list_lists div {
  font-size: 9pt;
}
.wall_admin_table div {
  font-size: 9pt;
}

.wall_tab_social .make_tab_default_container {
  display: none !important;
}