/* $Id: constants.css 2011-02-14 06:58:57 mirlan $ */

/*
DEFAULT STYLES FOR THIS THEME
*/
@constants
{

  /*
  PAGE WIDTHS & BACKGROUND COLOR
  Specify the top bar wrapper width (which contains the mini menu, logo, and main menu
  by default), the footer width, and the width of left & right-side columns.
  */
  theme_topbar_width: 100%;
  theme_topbar_minimenu_width: 100%;
  theme_topbar_menu_width: 100%;
  theme_footer_width: 100%;
  theme_content_width: 100%;
  theme_body_background_color: #F0F0F0;
  theme_text_input_background_color: #F2F2F2;

  /* 
  HEADER AND FOOTER COLORS
  These values are only used to style the site-wide header and footer.
  */
  theme_topbar_background_color: #FDFDFD;
  theme_topbar_menu_background_color: #757575;
  theme_topbar_menu_background_color_hover: transparent;
  theme_topbar_menu_link_color: #fff;
  theme_topbar_menu_link_decoration: none;
  theme_topbar_menu_link_hover_color: #fff;
  theme_topbar_menu_link_hover_decoration: none;
  theme_topbar_menu_link_size: 1em;
  theme_topbar_menu_link_background_color: #757575;
  theme_topbar_menu_link_background_color_hover: #686868;
  theme_topbar_menu_border: 1px solid #686868
  theme_topbar_minimenu_background_color: #fff;
  theme_topbar_minimenu_link_hover_background_color: #d7e7f0;
  theme_topbar_border: 0px solid transparent;

  /* 
  TEXT & LINKS
  These values affect the size and colors of your text and links throughout your layout.
  */
  theme_font_family: arial, verdana, sans-serif;
  theme_font_size: inherit;
  theme_font_color: #4C5153;
  theme_font_color_light: #69706E;
  theme_text_align: left;
  theme_link_color: #398BCC;
  theme_link_color_hover: #fff;
  theme_link_background_hover: #686868;
  theme_link_decoration: none;
  theme_link_decoration_hover: none;
  theme_headline_color: #717171;
  theme_headline_size_large: 1.3em;
  theme_headline_size_medium: 1.1em;
  theme_layout_header_font_size: 1em;
  theme_layout_header_background:#E6E6E6;
  theme_global_wrapper_background_color: #F0F0F0;
	them_global_content_border_color: #B9BBB9;
  /* 
  BORDER COLORS
  These colors are mostly applied to borders that separate items in lists of content.
  */
  theme_border_color: #ccc;
  theme_border_light_color: #DDD;
  theme_border_medium_color: #DFDFDF;
  theme_border_dark_color: #bbb;
  theme_hover_color: #F0F0F0;
  /*
  WIDGET BOX BORDER COLORS
  These colors are applied to borders around or within boxes that have a background color,
  like widgets.
  */
  theme_foreground_border_color: #d0e2ec;
  theme_foreground_border_color_light: #d7e8f1;
  theme_foreground_background_color: #fff;

  /*
  INPUT FIELDS AND BUTTONS
  These values style input fields and buttons that appear throughout the layout.
  */
  theme_input_background_color: #F0F0EF;
  theme_input_font_color: #555;
  theme_input_border_colors: #8E8E8E #E8E8E8 #E8E8E8 #8E8E8E;
  theme_button_background_color: #4e4e4e;
  theme_button_background_color_hover: #4787D0;
  theme_button_font_color: #fff;
  theme_button_border_color: transparent;

  /*
  PHOTO BORDERS
  These colors are applied to the borders drawn around most images and thumbnails.
  */
  theme_photo_border_color: #ddd;
  theme_photo_border_color_hover: #aaa;

  /* 
  FORMS
  These colors are applied to most forms throughout the layout.
  */
  theme_form_border_color: #D8D8D8;
  theme_form_background_color: #fff;
  theme_form_label_font_color: #777;
}

/* Global member photos and icons */
img.thumb_normal
{
  max-width: 60px;
  max-height: 70px;
}
img.thumb_profile
{
  max-width: 80px;
  max-height: 160px;
}
img.thumb_icon
{
  width: 48px;
  height: 48px;
}
img.main,
img.thumb_normal,
img.thumb_profile,
img.thumb_icon
{
  border: 1px solid $theme_photo_border_color;
}


/* Gives an element a background and/or border */
=foreground
{
  background-color: $theme_foreground_background_color;
}
=rounded($radius = 3px, $hidecorner1 = false, $hidecorner2 = false, $hidecorner3 = false, $hidecorner4 = false)
{
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;

  @if($hidecorner1 == true)
  {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-radius-topleft: 0px;
  }
  @if($hidecorner2 == true)
  {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-radius-topright: 0px;
  }
  @if($hidecorner3 == true)
  {
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-radius-bottomright: 0px;
  }
  @if($hidecorner4 == true)
  {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-radius-bottomleft: 0px;
  }
}
/* Gives an element a drop shadow */
=shadow($offset_x = 0, $offset_y = 0, $blur_radius = 0, $spread_radius = 0, $shadow_color = "#aaa")
{
  -moz-box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
  -webkit-box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
  box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
}