/* $Id: popup.css 2010-08-02 16:02 idris $ */

.popup_slide{
	padding: 0px;
}


.popup_title{
	width: 40px;
	padding: 5px;
	background: transparent url(../../images/transparent_bg2.png) repeat scroll 0 0 !important;
	float: left;
	height: 100%;
	left: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 40px;
	z-index: 10;
}

.popup_title_text{
	position: absolute;
	bottom: 0px;
	color: #ffffff;
	width: 100%;
	font-size: 1.3em;
	margin-bottom: 20px;
	font-weight: bold;
	writing-mode: tb-rl;
	filter: flipv fliph;
	white-space: nowrap;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
}

.popup_text{
	padding: 12px;
	position: absolute;
	bottom: 0px;
	left: 40px;
	color: white !important;
	background: transparent url(../../images/transparent_bg2.png) !important;
	/* width: 100%; */
}

.popup_slides{
	border: 1px solid #D0E2EC;
	border-top: none !important;
	position: relative;
}

.popup_container{
	float: left;
	padding: 10px;
	background-color: #eee;
  margin: 10px 10px 20px;

  -moz-box-shadow:0 0 5px #000000;
  -webkit-box-shadow: 0px 0px 5px #000000;
  box-shadow: 0px 0px 5px #000000;
}

.popup_slide div img {
  max-height: 2000px;
  max-width: 2000px;
}

.popup_img{
    top: 0px;
    left: 0px;
    position: absolute;
}

.popup_container > ul > li a:hover,a:visited,a:link{
    text-decoration: none;
}
