/* $Id: theme.css 2011-02-14 06:58:57 mirlan $ */

@include "constants.css";
@scan "application/modules" "externals/styles/mobile.css" "Core";

/*
GLOBAL STYLES, FONTS & RESETS
*/
html
{
  min-height: 100%;
  margin-bottom: 1px;
  /* overflow-x: hidden; */
  overflow-y: scroll;
}
body
{
  background-color: $theme_body_background_color;
  overflow-x: hidden;
}
*
{
  padding: 0;
  margin: 0;
  border: none;
  border-style: solid;
  border-width: 0px;
  border-color: $theme_border_color;
}
table
{comments
  border-collapse: collapse;
}
br
{
  clear: both;
}
ul
{
  list-style-type: none;
}
a:link,
a:visited
{
  color: $theme_link_color;
  text-decoration: $theme_link_decoration;
}
a:hover
{
  color: $theme_link_color_hover;
  text-decoration: $theme_link_decoration_hover;
	background: $theme_link_background_hover;
}
*
{
  font-family: $theme_font_family;
}
*[dir="rtl"] {
  direction: rtl;
  unicode-bidi: embed;
}
div, td
{
  font-size: $theme_font_size;
  color: $theme_font_color;
  text-align: $theme_text_align;
}
*[dir="rtl"] div,
*[dir="rtl"] td {
  direction: rtl;
  unicode-bidi: embed;
  text-align: right;
}
h2,
h3,
h4
{
  color: $theme_headline_color;
}
h2
{
  font-size: $theme_headline_size_large;
}
h3
{
  font-size: $theme_headline_size_medium;
}
h4
{
  border-bottom: 1px solid $theme_border_color;
  padding: 0.5em 0 .4em .2em;
	color: $theme_font_color_light;
}

/*
GENERAL LAYOUT
*/
.generic_layout_container h3
{
  margin-bottom: 2px;
	font-size: $theme_layout_header_font_size;
	padding: 4px;
	font-weight:bold;
}

.layout_middle
{
  background-color: #fff;
  overflow: hidden;
  padding: 5px 3px;
  vertical-align: top;
}

#global_wrapper
{
  text-align: center;
}

#global_content
{
  background: #fff;
  width: $theme_content_width;
  margin: 0px auto 0px auto;
  overflow: hidden;
  padding-bottom: 0.5em;
}
#global_content_simple
{
  display: inline-block;
}

.clr{
	clear: both;
}

/*Genenal Item List*/
ul.items > li {
	overflow: hidden;
	padding: 5px 0;
	border-top: 1px solid $theme_border_color;
}

ul.items li:hover{
	background-color:	$theme_hover_color;
}

ul.items .item_photo {
	float: left;
	font-size: 0;
	line-height: 0;
	margin-right: 7px;
	overflow: hidden;
	display:block;;
}
[dir="rtl"] ul.items .item_photo {
  float: right;
 	margin-left: 7px;
}

ul.items .item_body {
	overflow: hidden;
}

ul.items .item_date{
	font-size: 0.9em;
	color:$theme_font_color_light;
}
ul.items .item_date{
  display: inline-block;
}

ul.items .item_options{
	float:right;
}
ul.items .item_options > a{
	display:inline-block;
}




/*EVENTS*/
.event_discussions_replies {
  float: left;
  overflow: hidden;
  text-align: center;
  margin-right: 10px;
  width: 40px;
  padding: 7px 10px 7px 10px;
  color: $theme_font_color_light;
  font-size: .8em;
}




/*Paginator Item List*/
.pages{
	display: block;
	clear: both;
}

ul.paginationControl{
	width: 100%;
	background-color:$theme_foreground_background_color;
}

ul.paginationControl li{
	+foreground;
 	float:left;
 	height:28px;
	vertical-align:middle;
  border: none;
}

ul.paginationControl li a{
  background: none;
	display: block;
	font-size: 0.9em;
	font-weight: normal;
}

ul.paginationControl li.selected a{
  color: $theme_link_color_hover;
  text-decoration: $theme_link_decoration_hover;
	background: $theme_link_background_hover;
}

ul.paginationControl li.paginator_previous, ul.paginationControl li.paginator_next{
	width: 10%;
}
ul.paginationControl li.paginator_previous{
	text-align:left;
}
ul.paginationControl li.paginator_next{
	text-align:right;
}
ul.paginationControl li.paginator_middle{
	width: 80%;
	text-align:center;
}

/*Albums*/
.photo_view_container{
	+foreground;
	padding: 10px;
	text-align:center;
}

.photo_view_container .photo{
	text-align:center;
	max-width:100%;
	overflow: hidden;
}

.photo_view_container .photo a{
	display: block;
}

.photo_view_container .photo a img{
	max-width: 100%
}

/*Search Field*/
.search{
	margin-bottom:5px;
}

.search_text{
	width: 100%;
	padding: 2px;
}
.search_submit{
	padding-left: 4px;
}

/*Blogs*/
ul.categories > li > a{
	padding: 2px;
	display: block;
}

/*Layout Content*/
.layout_content{
	padding: 0.5em;
	vertical-align: top;
}

.layout_content .description{
	font-size: 0.9em;
}

/*Success content*/
.success{
	padding: 20px;
	text-align: center;
	width:100%;
}

.success .messages{
	padding: 5px;
	text-align:center;
}

.success .button{
	padding: 2px;
	font-weight: bold;
	text-align:center;
}

/*Error content*/
.error{
	padding: 20px;
	text-align: center;
	width:100%;
}

.error .messages{
	padding: 5px;
	text-align:center;
}

.error .button{
	padding: 2px;
	font-weight: bold;
	text-align:center;
}

/* Header */
.layout_page_header
{
  background-color: $theme_topbar_background_color;
  text-align: center;
  padding: 0px;
  clear: both;
  border-bottom: $theme_topbar_border;
  background-repeat: no-repeat;
  background-position: top center;
}

.layout_page_header .layout_main
{
  width: $theme_topbar_width;
  text-align: right;
  margin: 0px auto 0px auto;
}

/* Footer */
.layout_page_footer
{
  clear: both;
  text-align: center;
  overflow: hidden;
}
.layout_page_footer .layout_main
{
  +foreground;
  width: $theme_footer_width;
  margin: 10px auto 0px auto;
  text-align: left;
  overflow: hidden;
  margin-top: 0px;
  padding: 5px;
}
.layout_page_footer select
{
  font-size: 1em;
}


.layout_mobile_menu_footer
{
  font-size: .9em;
  color: $theme_font_color_light;
  padding-top: 8px;
}

/*WIDGETS*/

/*
MAIN HEADER WIDGET
*/
.layout_mobile_main_header
{
	padding: 10px 5px 5px;
}

/*
SITE LOGO WIDGET
*/
.layout_mobile_menu_logo
{
  font-size:1.6em;
  font-weight: bold;
  margin: 0px auto 5px auto;
  text-align: left;
  overflow: hidden;
	padding: 0px 2px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.layout_mobile_menu_logo a{ color: #fff; }

/*
MINI MENU + SEARCH WIDGET
Shows the mini menu and search widget
*/
.layout_mobile_menu_mini
{
  width: $theme_topbar_minimenu_width;
  margin: 0px auto 0px auto;
  overflow: hidden;
}
.layout_mobile_menu_mini > div > ul
{
  overflow: hidden;
  background: $theme_topbar_minimenu_background_color;
  padding: .2em;
  border: $theme_topbar_minimenu_border;
  border-top: none;
	float:right;
	padding-right: 1em;
}
[dir="rtl"] .layout_mobile_menu_mini > div > ul
{
  float:left;
 	padding-left: 1em;
}

.layout_mobile_menu_mini > div > ul > li
{
  float: left;
  overflow: hidden;
	vertical-align:top;
}
[dir="rtl"] .layout_mobile_menu_mini > div > ul > li
{
  float: right;
}

.layout_mobile_menu_mini > div > ul > li > a{
  background: none;
	display: block;
}
/*
MAIN MENU WIDGET
*/
#mobile_menu_mini_menu > ul > li
{
  margin-left: .3em;
}
.layout_mobile_menu_main
{
  width: $theme_topbar_width;
  margin: 0px auto 0px auto;
  text-align: center;
  overflow: hidden;
  background-color: $theme_topbar_menu_background_color;
  border: $theme_topbar_menu_border;
  border-left: none;
  border-right: none;
}
.layout_mobile_menu_main > ul
{
  width: $theme_topbar_menu_width;
  margin: 0px auto 0px auto;
  padding: 0px;
  white-space: nowrap;
  overflow: hidden;
}
.layout_mobile_menu_main > ul > li
{
  float: left;
  font-size: $theme_topbar_menu_link_size;
	width: 33%;
	text-align:center;
}
[dir="rtl"] .layout_mobile_menu_main > ul > li
{
  float: right;
}

.layout_mobile_menu_main > ul > li > a
{
	background-color: $theme_topbar_menu_link_background_color;
	padding: .3em;
	display:block;
	font-weight:600;
}

.layout_mobile_menu_main ul a:link,
.layout_mobile_menu_main ul a:visited
{
  color: $theme_topbar_menu_link_color;
  text-decoration: $theme_topbar_menu_link_decoration;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.layout_mobile_menu_main ul li.active a
{
  background: $theme_topbar_menu_link_background_color_hover;
  color: $theme_topbar_menu_link_hover_color;
  text-decoration: $theme_topbar_menu_link_hover_decoration;
  text-shadow:none;
  border-radius:3px;
  border-radius-bottomright:0;
  border-radius-bottomleft:0;
  -moz-border-radius:3px;
  -moz-border-radius-bottomright:0;
  -moz-border-radius-bottomleft:0;
  -webkit-border-radius:3px;
  -webkit-border-bottom-right-radius:0;
  -webkit-border-bottom-left-radius:0;
  border:1px solid transparent;
  border-bottom:none;
  box-shadow:0 0 4px 0 rgba(0,0,0,.4);
  -moz-box-shadow:0 0 4px 0 rgba(0,0,0,.4);
  -webkit-box-shadow:0 0 4px 0 rgba(0,0,0,.4);
}

.layout_mobile_menu_main li:hover
{
  background: $theme_topbar_menu_background_color_hover;
}

/*
MODE SWITCHER
*/
.mode-switcher{
	width: 100%;
	padding: 5px;
  text-align:center !important;
}

/*
SIE MAP WIDGET
*/
/*site map list*/
.layout_mobile_site_map > ul.site-map-list{
	list-style-type: circle;
}

.layout_mobile_site_map > ul.site-map-list > li{
	font-size: 1.2em;
	cursor:pointer;
}

.layout_mobile_site_map > ul.site-map-list > li > a{
	display:block;
	border-color: $theme_border_color;
	border-style: solid solid none;
	border-width: 1px 1px 0;
	display: block;
	padding: 10px;
	padding-left: 12px;
}

.layout_mobile_site_map > ul.site-map-list > li > a:hover{
	background-color: $theme_hover_color;
	color: $theme_font_color;
}

.layout_mobile_site_map > ul.site-map-list > li > a >img{
	float:right;
	vertical-align:baseline;
}
[dir="rtl"] .layout_mobile_site_map > ul.site-map-list > li > a >img{
  float:left;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  display: block;
}

/*site map links*/
.layout_mobile_site_map > ul.site-map-links{
	list-style-type: circle;
}

.layout_mobile_site_map > ul.site-map-links > li{
	font-size: 0.9em;
	cursor:pointer;
}

.layout_mobile_site_map > ul.site-map-links > li > a{
	display: block;
	padding: 2px;
	padding-left: 2px;
}





/*
FEED WIDGET
*/
.layout_mobile_feed{
	margin:3px 0px;
}

.layout_mobile_feed .global_form_box{
	padding: 7px;
}

.layout_mobile_feed .global_form_box .feed-submit{
	padding: 5px 0px 0px;
}

ul.feed{
	padding: 3px;
	margin: 3px 0px;
}

ul.feed .feed_item_attachments{
	margin: 3px;
}
ul.feed .feed_item_attachments .feed_attachment_album_photo{
  float: left;
}
[dir="rtl"] ul.feed .feed_item_attachments .feed_attachment_album_photo{
  float: right;
}

ul.feed .feed_item_attachment_photo{
	float:left;
	overflow:hidden;
	margin: 2px;	
}
[dir="rtl"] ul.feed .feed_item_attachment_photo{
  float: right;
}

ul.feed .feed_item_attachment_photo a{
	display:block;
	padding: 3px;
}
/*
PROFILE WIDGETS
*/
.layout_mobile_profile_widgets{
	padding: 3px;
	margin: 3px 0px;
	display: block;
	clear: both;
}

.profile-left, .profile-right{
	overflow: hidden;
}

.profile-left{
	padding-right:7px;
	float:left;
}

[dir="rtl"] .profile-left{
	padding-right:0;
	padding-left:7px;
	float:right;
}

/*
Profile Options
*/
#mobile_profile_options  ul  li  a.buttonlink{
	padding-left: 0px;
}

/*Porfile Fields*/
.layout_mobile_user_profile_fields{
	margin-bottom: 5px;
}

.profile_fields > ul > li > span{
	font-weight:bold;
	font-size: 0.9em;
}
.profile_fields > ul > li > span + span{
	font-weight:normal;
}

/*Profile Info*/
.profile_info{
	font-size: 0.9em;
}

.profile_info > li > .type{
	font-weight:bold;
}



/*ACTION*/
ul.subcontent > li {
	border: 0px;
}

/*
GLOBAL FORM RESPONSES
Used to show feedback from form submissions, i.e.
error/result messages.
*/
ul.form-errors,
ul.form-notices
{
  margin: 0px 0px 20px 0px;
  overflow: hidden;
}
* + ul.form-errors,
* + ul.form-notices
{
  margin-top: 20px;
}
ul.form-errors > li,
ul.form-notices > li
{
  margin: 7px 5px 7px 5px;
  padding: 5px 15px 5px 15px;
  background-repeat: no-repeat;
  background-position: 8px 5px;
  float: left;
  clear: left;
  overflow: hidden;
  border: 1px solid #ccc;
}

html[dir="rtl"] ul.form-errors > li,
html[dir="rtl"] ul.form-notices > li
{
  padding: 5px 15px 5px 15px;
  background-position: 98% 5px;
  float: right;
  clear: right;
}
ul.form-errors > li > b,
ul.form-notices > li > b
{
  text-transform: uppercase;
  font-size: .8em;
}
ul.form-errors > li > ul > li,
ul.form-notices > li > ul > li
{
  font-size: .9em;
}
ul.form-errors > li {
  background-color: #faf7e9;
}
ul.form-notices > li {
  background-color: #e9faeb;
}


/*
GLOBAL FORM ELEMENTS
Used for most forms throughout the site.
*/
button
{
  padding: 2px 4px;
  background-color: $theme_button_background_color;
  border: 1px solid $theme_button_border_color;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  color: $theme_button_font_color;
  background-repeat: repeat-x;
  background-position: 0px 1px;
	font-size:1em;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
button:hover
{
  background-color: $theme_button_background_color_hover;
  cursor: pointer;
}
input[type=text],
input[type=password],
input.text,
textarea
{
  background-color: $theme_input_background_color;
  color: $theme_input_font_color;
  border-width: 1px;
  border-color: $theme_input_border_colors;
  padding: 1px;
  font-size: 1em;
  resize: none;
	width: 98%;
}
input[type=checkbox],
input[type=radio]
{
  border: none;
  padding: 0px;
  margin: 2px 5px 0px 0px;
  width: auto;
  display: block;
  float: left;
}
input[type=checkbox] + label,
input[type=radio] + label
{
  display: block;
  cursor: pointer;
}
textarea
{
  resize: none;
}
textarea.codebox
{
  width: 95%;
  min-height: 50px;
  font-family: courier new, courier, serif;
}
select
{
  background-color: $theme_input_background_color;
  color: $theme_input_font_color;
  border-width: 1px;
  border-color: $theme_input_border_colors;
  padding: 1px 0px 1px 1px;
  font-size: .9em;
}

html[dir="rtl"] select
{
  padding: 1px 1px 1px 0px;
}
select option
{
  padding: 0px 10px 0px 3px;
}
html[dir="rtl"] select option
{
  padding: 0px 3px 0px 10px;
}
a.buttonlink
{
  background-repeat: no-repeat;
  background-position: 0px 0px;
  font-weight: normal;
	display: inline-block;
	padding: 3px;
	text-decoration:none;
	font-size: 0.8em;
}

/*
LARGE BOX FORM
These styles are for large forms that are given an exclusive page.
They are not intended for smaller forms that are embedded elsewhere.
Examples: Signup form, member settings form, etc.
*/
/* form container */
.global_form
{
  clear: both;
  overflow: hidden;
}
/* external form border */
.global_form > div
{
  overflow: hidden;
  margin: 0px auto 0px auto;
}
html[dir="rtl"] .global_form > div
{
  float: right;
}
/* internal form border */
.global_form > div > div
{
  border: 2px solid $theme_form_border_color;
  padding: 5px;
  background-color: $theme_form_background_color;
}
/* form headline */
.global_form div.form-wrapper-heading
{
  font-weight: bold;
  border-bottom: 1px solid $theme_foreground_border_color_light;
  height: 1em;
  margin-bottom: 10px;
}
.global_form div.form-wrapper-heading > span
{
  display: block;
  position: absolute;
  overflow: hidden;
  padding: 4px 6px 4px 0px;
  background: $theme_form_background_color;
}
html[dir="rtl"] .global_form div.form-wrapper-heading > span
{
  padding: 4px 0px 4px 6px;
}
.global_form div.form-wrapper + div.form-wrapper-heading
{
  margin-top: 5px;
}
/* form instructions (after title) */
.global_form > div > div > h3 + p
{
  padding: 2px;
  margin-top: 2px;
  width: 80%;
}
/* add some space above form elements if title/instructions precede */
.global_form > div > div > h3 + div,
.global_form > div > div > h3 + p + div
{
  margin-top: 5px;
}
/* container for form label/element rows */
.global_form > div > div
{
  overflow: hidden;
}
/* container row for a label (left) and element (right) */
.global_form div.form-wrapper
{
  clear: both;
  overflow: hidden;
}
/* left-side element label container */
.global_form div.form-label
{
  overflow: hidden;
  clear: left;
  font-size: .9em;
  color: $theme_form_label_font_color;
}
html[dir="rtl"] .global_form div.form-label
{
  text-align: left;
  padding: 4px 2px 0px 15px;
  float: right;
  clear: right;
}
/* right-side form element container */
.global_form div.form-element
{
  width: 100%;
  overflow: hidden;
  clear: none;
	margin-bottom:3px;
}
html[dir="rtl"] .global_form div.form-element
{
  text-align: right;
  float: right;
}
/* all paragraphs of text in the form */
.global_form div > p
{
  width: 80%;
  padding-bottom: 5spx;
}
/* paragraphs of text that come after an input element */
.global_form div > input + p
{
  margin-top: 3px;
  font-size: 7pt;
}
/* all text inputs in form */
.global_form input[type=text],
.global_form input[type=password]
{
  padding: 1px;
  font-size: 1em;
  width: 95%;
}
/* only for text inputs that come after other text inputs */
/* i.e. for when there is a vertical list of text inputs */
.global_form input[type=text] + input[type=text]
{
  display: block;
  margin-top: 5px;
}
/* all checkboxes and radios in form */
.global_form input[type=checkbox],
.global_form input[type=radio]
{
  clear: left;
}
/* for clickable labels that appear to the right of elements */
/* such as checkboxes or radios */
.global_form input + label
{
  float: left;
  display: block;
  margin-top: 0px;
  margin-left: 2px;
}

/* all select boxes in form */
.global_form select
{
  padding: 1px 0px 1px 1px;
  font-size: .9em;
  max-width: 80px;
}
/* all textareas in form */
.global_form textarea
{
  padding: 4px;
  font-size: 10pt;
	width: 95%;
  height: 20px;
}
.global_form p.description {
  margin: 3px 0px 5px 0px;
  padding: 0px;
}
.global_form #submit-element
{
  margin-bottom: 0px;
}
.global_form button[type=submit]
{
  margin-right: 3px;
}

/*Global Share Fomr*/
.sharebox_form #body-label{
	height:0px;
}

.sharebox
{
  +foreground;
  padding: 10px;
  overflow: hidden;
}
.sharebox_photo
{
  float: left;
  overflow: hidden;
  margin-right: 8px;
}
.sharebox_photo img
{
  border: 1px solid $theme_photo_border_color;
  max-width: 120px;
  max-height: 120px;
}
.sharebox_title
{
  font-weight: bold;
}
.sharebox_description
{
  font-size: .8em;
  margin-top: 3px;
}



/*Global Popup*/
.global_form_popup
{
  clear: both;
  overflow: hidden;
}
/* external form border */
.global_form_popup > div
{
  overflow: hidden;
  margin: 0px auto 0px auto;
}
html[dir="rtl"] .global_form_popup > div
{
  float: right;
}
/* internal form border */
.global_form_popup > div > div
{
  border: 2px solid $theme_form_border_color;
  padding: 5px;
  background-color: $theme_form_background_color;
	width: 95%;
}
/* form headline */
.global_form_popup div.form-wrapper-heading
{
  font-weight: bold;
  border-bottom: 1px solid $theme_foreground_border_color_light;
  height: 1em;
  margin-bottom: 10px;
}
.global_form_popup div.form-wrapper-heading > span
{
  display: block;
  position: absolute;
  overflow: hidden;
  padding: 4px 6px 4px 0px;
  background: $theme_form_background_color;
}
html[dir="rtl"] .global_form_popup div.form-wrapper-heading > span
{
  padding: 4px 0px 4px 6px;
}
.global_form_popup div.form-wrapper + div.form-wrapper-heading
{
  margin-top: 5px;
}
/* form instructions (after title) */
.global_form_popup > div > div > h3 + p
{
  padding: 2px;
  margin-top: 2px;
  width: 80%;
}
/* add some space above form elements if title/instructions precede */
.global_form_popup > div > div > h3 + div,
.global_form_popup > div > div > h3 + p + div
{
  margin-top: 5px;
}
/* container for form label/element rows */
.global_form_popup > div > div
{
  overflow: hidden;
}
/* container row for a label (left) and element (right) */
.global_form_popup div.form-wrapper
{
  clear: both;
  overflow: hidden;
}
/* left-side element label container */
.global_form_popup div.form-label
{
  overflow: hidden;
  clear: left;
  font-size: .9em;
  color: $theme_form_label_font_color;
}
html[dir="rtl"] .global_form_popup div.form-label
{
  text-align: left;
  padding: 4px 2px 0px 15px;
  float: right;
  clear: right;
}
/* right-side form element container */
.global_form_popup div.form-element
{
  width: 100%;
  overflow: hidden;
  clear: none;
	margin-bottom:3px;
}
html[dir="rtl"] .global_form_popup div.form-element
{
  text-align: right;
  float: right;
}
/* all paragraphs of text in the form */
.global_form_popup div > p
{
  width: 80%;
  padding-bottom: 5spx;
}
/* paragraphs of text that come after an input element */
.global_form_popup div > input + p
{
  margin-top: 3px;
  font-size: 7pt;
}
/* all text inputs in form */
.global_form_popup input[type=text],
.global_form_popup input[type=password]
{
  padding: 1px;
  font-size: 1em;
  width: 95%;
}
/* only for text inputs that come after other text inputs */
/* i.e. for when there is a vertical list of text inputs */
.global_form_popup input[type=text] + input[type=text]
{
  display: block;
  margin-top: 5px;
}
/* all checkboxes and radios in form */
.global_form_popup input[type=checkbox],
.global_form_popup input[type=radio]
{
  clear: left;
}
/* for clickable labels that appear to the right of elements */
/* such as checkboxes or radios */
.global_form_popup input + label
{
  float: left;
  display: block;
  margin-top: 0px;
  margin-left: 2px;
}

/* all select boxes in form */
.global_form_popup select
{
  padding: 1px 0px 1px 1px;
  font-size: .9em;
  max-width: 80px;
}
/* all textareas in form */
.global_form_popup textarea
{
  padding: 4px;
  font-size: 10pt;
	width: 90%;
  height: 20px;
}
.global_form_popup p.description {
  margin: 3px 0px 5px 0px;
  padding: 0px;
}
.global_form_popup #submit-element
{
  margin-bottom: 0px;
}
.global_form_popup button[type=submit]
{
  margin-right: 3px;
}


/*
SMALL BOX FORM
These styles are for small box forms, such
as the login box found by default on the main
index page. Form names and inputs are stacked
vertically (not floated) to fit into small-width
content areas.
*/
.global_form_box
{
  +foreground;
  padding: 3px;
  width: auto;
}
.global_form_box .form-wrapper + .form-wrapper
{
  margin-top: 5px;
}
.global_form_box .form-label
{
  padding: 0px;
  width: auto;
  float: none;
  clear: both;
  margin: 0px;
}
.global_form_box label
{
  text-align: left;
  display: block;
  font-size: .8em;
  margin-bottom: 2px;
}
html[dir="rtl"] .global_form_box label
{
  text-align: right;
}
.global_form_box .form-element
{
  overflow: hidden;
}


/*
SEARCH PAGE
Used to style the main search page.
*/
#searchform
{
  float: left;
  clear: both;
  padding: 5px;
	width: 90%;
}
#searchform input[type=text]
{
  width: 100%;
	margin-bottom: 3px;
}
#searchform #query-label
{
  display: none;
}
#searchform #query-wrapper
{
  float: left;
  overflow: hidden;
  padding: 3px;
}
#searchform #submit-label
{
  display: none;
}
#searchform #submit-wrapper
{
  float: left;
  overflow: hidden;
  margin-left: 1px;
}
.search_result
{
  overflow: hidden;
  width: 92%;
  margin-top: 3px;
  border-top-width: 1px;
  padding-top: 3px;
}
.search_result .search_photo
{
  display: block;
  float: left;
  overflow: hidden;
  margin-right: 7px;
}
.search_result .search_icon
{
  display: block;
  float: left;
  overflow: hidden;
  width: 48px;
  margin-right: 7px;
}
.search_result img
{
  margin: auto;
  display: block;
}
.search_result .search_info
{
  display: block;
  overflow: hidden;
}
.search_result .search_title
{
  /* font-weight: bold; */
  font-size: 1.1em;
}
.search_result .highlighted-text
{
  font-weight: bold;
}








/*
COMMENTS
These styles are used everywhere comments appear.
*/
.comments
{
  margin-top: 5px;
}
.comments
{
  width: 95%;
}
.comments > ul
{
  overflow: hidden;
}
.comments > ul > li
{
  +foreground;
  background-image: none;
  border: none;
  padding: 5px;
  border-top: 1px solid $theme_foreground_border_color;
  overflow: hidden;
  margin-bottom: 1px;
}
.comments .comments_author a
{
  font-weight: bold;
  margin-right: 2px;
}
html[dir="rtl"] .comments .comments_author a
{
  margin-right: 0px;
  margin-left: 2px;
}
html[dir="rtl"] .comments_author
{
  float: right;
}
.comments .comments_author_photo
{
  float: left;
  overflow: hidden;
}
html[dir="rtl"] .comments .comments_author_photo
{
  float: right;
}
.comments .comments_author_photo img
{
  display: block;
}
.comments .comments_options
{
  color: $theme_font_color_light;
  margin-bottom: 6px;
}
.comments .comments_comment_options > a
{
  font-size: .8em;
  margin-top: 5px;
  overflow: hidden;
}
.comments .comments_info
{
  font-size: .8em;
  padding-top: 2px;
  padding-left: 5px;
  overflow: hidden;
}
.comments .comments_date
{
  font-size: .8em;
  margin-top: 3px;
  color: $theme_font_color_light;
  overflow: hidden;
}
.comments .comments_likes,
.comments .comments_viewall
{
  font-size: .8em;
}
.comments .comments_likes a,
.comments .comments_viewall a
{
  font-weight: bold;
}
.comments > form
{
  +foreground;
  background-image: none;
  border: none;
  padding: 5px 10px 5px 5px;
  border-top: 1px solid $theme_foreground_border_color;
}
html[dir="rtl"] .comments > form
{
  padding: 5px 5px 5px 10px;
}
.comments > form > textarea
{
  width: 100%;
}
.comments > form > button
{
  display: block;
  margin-top: 7px;
}

/*
TABS (TAB STYLE, NON-DEFAULT)
*/
.tabs > ul{
	list-style-type: circle;
}

.tabs > ul > li{
	font-size: 1em;
	font-weight:600;
}

.tabs > ul > li.content{
	font-weight:normal;
	padding: 7px;
}

.tabs > ul > li > a{
	display:block;
	border-color: $theme_border_color;
	border-style: solid solid none;
	border-width: 1px 1px 0;
	display: block;
	padding: 8px;
	padding-left: 10px;
	color: $theme_font_color_light;
}
[dir="rtl"] .tabs > ul > li > a > span
{
  display: inline-block;
}

.tabs > ul > li > a:hover{
	background-color: $theme_hover_color;
	color: $theme_font_color;
}

.tabs > ul > li.active > a{
	background-color: $theme_hover_color;
	color: $theme_font_color;
}

.tabs > ul > li > a >img{
	float:right;
	vertical-align:baseline;
}
[dir="rtl"] .tabs > ul > li > a >img
{
  float:left;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  display: block;
}

.layout_mobile_container_tabs{
	margin-top: 10px;
}

/* Events  */
.mobile_event_rsvp {
  clear:both;
}
.mobile_event_rsvp > li {
  display:block;
  float:left;
  margin:0 3px;
  overflow: hidden;
}
.mobile_event_rsvp > li a.active {
  font-weight:bold;
}
.mobile_event_stats {
  padding: 10px;
  margin-bottom: 15px;
}
.mobile_event_stats > li{
  font-size: .8em;
  overflow: hidden;
}
.mobile_event_stats > ul > li:first-child
{
  margin-bottom: 10px;
  font-size: .8em;
}


.mobile_event_stats{
  margin-top: 10px;
  overflow: hidden;
}
.mobile_event_stats > ul{
  padding: 10px;
  margin-bottom: 15px;
}
.mobile_event_stats > ul > li{
  font-size: .8em;
  overflow: hidden;
}
.mobile_event_stats > ul > li:first-child{
  margin-bottom: 10px;
  font-size: .8em;
}
.mobile_event_stats .event_date{
  margin-bottom: 10px;
}
.mobile_event_stats .event_date .label{
 clear: both;
}
.mobile_event_stats > ul > li + li{
  margin-top: 5px;
}
.mobile_event_stats > ul > li > div{
  font-size: 1em;
}
.mobile_event_stats .label{
  width: 45px;
}
.mobile_event_stats .event_stats_content{
  font-weight: bold;
}
.mobile_event_stats .label, .mobile_event_stats .event_stats_content{
  float: left;
}
html[dir="rtl"] .mobile_event_stats .label, .mobile_event_stats .event_stats_content {
  float: left;
  margin-left: 15px;
}
.mobile_event_stats .event_stats_title {
  font-weight: bold;
}
.mobile_event_stats .event_stats_title a {
  display: block;
  font-weight: normal;
}
.mobile_event_stats .event_stats_staff {
  margin-top: 8px;
}
.mobile_event_stats .event_stats_info span{
  font-weight: normal;
}
.layout_mobile_event_profile_rsvp {
  margin:10px 0;
}
.layout_mobile_event_profile_photo {
  margin:10px 0;
}
.layout_mobile_event_profile_photo .title {
  font-size:14pt;
}


/*CLASSIFIEDS*/
ul.classifieds_entrylist
{
  padding-top: 10px;
}
ul.classifieds_entrylist > li
{
  padding-bottom: 10px;
}
ul.classifieds_entrylist h3
{
  margin-bottom: 1px;
}
ul.classifieds_entrylist .classified_entrylist_entry_date
{
  font-size: 8pt;
  margin-bottom: 5px;
  color: $theme_font_color_light;
}
ul.classifieds_entrylist .classified_entrylist_entry_body
{
  line-height: 1.5em;
  padding: 5px 5px 5px 0px;
}
ul.classifieds_entrylist .classified_entrylist_entry_body img
{
  max-width: 100%;
}
ul.classifieds_entrylist .classified_entrylist_entry_body + .buttonlink
{
  margin-top: 5px;
}
ul.classifieds_entrylist + .comments
{
  padding-top: 10px;
}
div.classifieds_gutter .classifieds_gutter_photo
{
  display: block;
}
div.classifieds_gutter .classifieds_gutter_photo img
{
  display: block;
  width: 98%;
}
div.classifieds_gutter .classifieds_gutter_name
{
  display: block;
  font-weight: bold;
  margin: 3px 0px 15px 0px;
  font-size: 1em;
}
div.classifieds_gutter .buttonlink
{
  padding-top: 2px;
  padding-bottom: 1px;
}
div.classifieds_gutter h4
{
  margin: 20px 0px 5px 0px;
  text-transform: uppercase;
}
div.classifieds_gutter > ul > li
{
  margin-bottom: 2px;
}
div.classifieds_gutter ul.classifieds_gutter_options > li
{
  font-size: .8em;
  margin: 3px 0px 3px 0px;
}
ul.classified_thumbs > li img
{
  max-width: 50%;
  max-height: 50%;
  margin: 15px 15px 15px 0px;
  border: 1px solid $theme_photo_border_color;
}
.classified_stats
{
  margin-bottom: 15px;
  border-bottom-width: 1px;
  padding-bottom: 10px;
}
.classified_stats > a
{
  font-weight: bold;
}


ul.classifieds_profile_tab .classifieds_profile_tab_title > a
{
  font-weight: bold;
}
ul.classifieds_profile_tab .classifieds_browse_info_blurb
{
  margin-top: 7px;
}


.layout_mobile_group_profile_info
{
  margin-top: 10px;
  overflow: hidden;
}
.layout_mobile_group_profile_info > ul
{
  padding: 10px;
}
.layout_mobile_group_profile_info > ul > li
{
  overflow: hidden;
}
.layout_mobile_group_profile_info > ul > li + li
{
  margin-top: 5px;
}
.layout_mobile_group_profile_info .group_stats_title > span
{
  font-weight: bold;
  display: block;
}
.layout_mobile_group_profile_info .group_stats_title > a
{
  font-weight: normal;
}
.layout_mobile_group_profile_info .group_stats_staff
{
  margin-top: 8px;
}
.layout_mobile_group_profile_info .group_stats_info
{
  margin-top: 8px;
}
.layout_mobile_group_profile_info .group_stats_info ul
{
  color: $theme_font_color_light;
}




/*
* LIKE Module Styles
*/

.like_button_container{
  float: left;
  position: relative;
}
[dir="rtl"] .like_button_container{
  float: right;
}

button.like_button{
  padding: 1px 5px;
}

button.unlike_button{
  padding: 1px 5px;
}

.layout_mobile_activity_feed .like_action_container .left {
  float:left;
  margin-right: 10px;
}
[dir="rtl"] .layout_mobile_activity_feed .like_action_container .left {
  float:right;
  margin-right: 0;
  margin-left: 10px;
}

.layout_mobile_activity_feed .like_action_container .likes {
  padding-bottom: 5px;
}

.layout_mobile_activity_feed .like_action_container img.thumb_profile {
  max-height: 100px;
  max-width: 100px;
}

[dir="rtl"] .layout_mobile_activity_feed .like_action_container .item {
  float:right;
  margin-left:5px;
}
.layout_mobile_activity_feed .like_action_container .item {
  float:left;
  margin-right:5px;
}

.layout_mobile_activity_feed .like_action_container div.item > a {
  display:block;
  width: 48px;
  height: 48px;
}

div.tip{
  padding: 16px 0 14px;
}

@include "../module.css";