/* $Id: tabs.css 2010-08-02 16:02 idris $ */

.FC_wrapper{
  padding: 10px;
  position: relative;
}

.FC_container{
	clear: both;
  z-index: 5 !important;
  padding: 10px;
  background-color: #eee;
  box-shadow: 0px 0px 20px #666;
  -moz-box-shadow: 0px 0px 20px #666;
  -webkit-box-shadow: 0px 0px 20px #666;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.FC_container * {
  z-index: 5 !important;
}

.FC_tabs{
	width: 100%;
	clear: both;
}

.ie-shadow {
    display: none; /* don't show in non-ie browsers */
}

.selected{
	opacity: 1 !important;
}

.FC_tabs .tab{
	float: left;	
	display: block;
	opacity: 0.4;
	filter: alpha(opacity=40);
  padding: 5px;
  background-color: #666666;
  position: relative;
  text-align: center;
}

.FC_tabs .tab img{
  border: none;
}

.FC_tabs .tab:hover{
	text-decoration: none;
}

.content .span_content{
	display: block;
	background: transparent url(../../images/transparent_bg3.png);
	color: #444;
	float: left;
	margin: 10px;
	padding: 10px;
  font-weight: bold;
}

.content .span_content .h1_header{
	color: #000;
  text-shadow:2px 0 1px #666666;
}