.as_query_input {
    width: 200px !important;
    display: inline;
}
.as_default_search_type {
    color: #999999;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 22px;
    left: 4px;
    line-height: 22px;
    position: relative;
    top: 25px;
    margin-right: 3px;
    float: left;
}
.advancedsearch_types_list {
    position: relative;
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 2px 3px rgba(22, 24, 27, 0.35);
    width: 300px;
    z-index: 101;
}
.advancedsearch_types_list span i, .as_default_search_type i {
    float: left;
    font-size: 22px;
    margin-right: 6px;
}
.as_type_container,.as_type_global_container {
    display: block;
    width: 300px;
    cursor: pointer;
}
.advancedsearch_types_list span {
    display: block;
    float: left;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    padding: 7px 0 7px 8px;
    text-decoration: none;
    text-transform: none;
    height: 22px;
    line-height: 22px;
}
.as_type_container.active, .as_type_container:hover, .as_type_global_container.active, .as_type_global_container:hover, .as_global_search_result.active, .as_global_found_more.active
{
    background: none repeat scroll 0 0 #EEEEEE;
    color: #464646;
}
.advancedsearch_types_list span:first-letter {
    text-transform: capitalize;
}
#as_found_items {
    margin-top: 15px;
}
.as_search_result {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    display: inline-block;
    float: left;
    margin: 10px 8px;
    text-align: center;
    width: 200px;
}
.as_search_photo {
    height: 200px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    width: 200px;
}

.as_search_photo img {
    display: inline;
    max-width: none;
    vertical-align: middle;
    border: none;
    width: 200px;
}
.as_search_info {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 0;
    text-align: center;
}
.as_search_info p {
    color: #666666;
}
.as_more_button {
    text-align: center;
    display: block;
}
.as_more_button span {
    display: none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: default!important;
    font-family: arial,sans-serif;
    font-size: 11px;
    font-weight: 700;
    height: 27px;
    line-height: 27px;
    margin: 2px 4px;
    min-width: 54px;
    padding: 2px 45px;
    text-align: center;
    box-shadow: 0 0 1px gray;
    -webkit-transition: all 0.218s,visibility 0s;
    transition: all 0.218s,visibility 0s;
    -webkit-user-select: none;
    background: #f9f9f9;
}

/*---------------------*/
.as_more_button span:hover {
    background: #f8f8f8;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.0s;
    transition: all 0.0s;
}
.as_global_search {
    padding: 4px 2px 4px 24px !important;
    width: 140px !important;
}
#as_global_default_icon {
    font-size: 20px;
    left: 29px;
    position: relative;
    top: 2px;
    color: #999999;
}
#advancedsearch_global_types_list {
    left: -105px;
    display: none;
}
.as_global_search_result {
    padding: 5px;
}
.as_global_search_result:first-child {
    margin-top: 0px !important;
}
.as_global_search_result:hover {
    background: lightgray;
}
.as_global_search_result span {
    font-size: 12px;
    float: none;
    display: inline;
}
.as_global_search_info {
    width: 230px;
    float: left;
    margin-left: 5px;
}
/*--------------------*/
.as_global_search_photo {
    float: left;
}
.as_global_search_photo img {
    width: 48px;
}
#as_global_found_items {
    left: -105px;
    overflow: hidden;
    position: relative;
}
.as_global_found_more span {
    padding: 0.5em 0.9em 0.5em 27px !important;
    margin: 5px 5px 5px 80px;
}
.as_global_found_more {
    text-align: center;
    color: black;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}
a.as_global_found_more_link {
    text-decoration: none;
}
.as_global_found_more:hover {
    background: lightgray;
}