/* $Id: slider.css 2010-08-02 16:02 idris $ */

.carousel
{
  line-height:1.45em;
  padding: 10px;
  background-color: #eee;
  border: 1px solid #D0E2EC;
}

.carousel-inner
{
  overflow:hidden;
  position:relative;
}

.carousel-animate
{
  position:absolute;
}

.carousel-item
{
  position: relative;
  float: left;
  text-decoration: none;
}

.carousel-item img
{
  border:0 none #000;
}

.carousel-item:hover{
	text-decoration: none;
}

.carousel-item-info
{
  position: absolute;
  bottom: 20px;
  left: 10px;
  display: block;
}

.carousel-item:hover .carousel-item-info strong, .carousel-item:hover .carousel-item-info span,.carousel-item:hover .carousel-item-info em
{
  background-color:#972929;
  background-image:none;
}

.carousel-item-info strong,.carousel-item-info span,.carousel-item-info em
{
  background:transparent url(../../images/faded_black.png);
  color:#fff;
  padding:3px 12px;
}

.carousel-item-info em
{
  background:#c00 none;
}

.carousel-item-info strong
{
  font-size:2em;
  line-height:1.43em;
  letter-spacing:-.02em;
  text-transform:uppercase;
}

.carousel-item-info strong span,.carousel-item-info:hover strong span
{
  background:transparent url(../../images/carousel-arrow.png) 0 .25em no-repeat!important;
  padding:0 0 0 36px;
}

.carousel-nav
{
  list-style-type:none!important;
  background-color:#eee;
  line-height:1.3em;
  height:46px;
  margin:0!important;
  padding:0!important;
}

.carousel-nav li
{
  float:left;
  margin:0;
  padding:0;
}

.carousel-nav li a
{
  display:block;
  height:37px;
  overflow:hidden;
  border-right:1px solid #ddd;
  text-decoration:none;
  color:#666;
  font-family:Arial,Helvetica,sans-serif;
  padding:4px 12px;

  margin-top: 5px;
  -moz-border-radius: 5px;
  line-height:37px;
  font-weight:bold;
}

.carousel-nav .last a
{
  border-width:0;
}

.carousel-nav li a.selected
{
  color:#fff;
  background-color:#972929;
  border-color:#972929;
}

.carousel .media-item-info
{
  color:#fff;
  font-size:1em;
  line-height:1.45em;
}

div.carousel-data img
{
  display:none;
}

.data a{
	display: block;
}
