/* $Id: main.css 2010-09-07 16:02 idris $ */

@include "~/application/modules/Core/externals/styles/admin/constants.css";

.like_logo_icon{
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid gray;
  padding: 5px;
  background: #efefef;
  margin: 15px;
}

.like_logo_icon img{
  border: 1px solid #aaa;
}

.like_logo{
  position: relative;
}


/* for admin*/

.settings .he_setting_fieldset {
  +rounded;
  padding: 0 10px;
  border: 2px solid $theme_foreground_border_color;
}

.settings .he_setting_fieldset .description {
  display: none;
}

.settings .he_setting_fieldset .form-element .description {
  min-width: 200px;
}

.settings .he_setting_fieldset .form-wrapper {
  padding: 10px 0;
  border: none;
}

.settings .he_setting_fieldset .form-label {
  width: 160px;
  font-weight: normal;
}

.settings .he_setting_fieldset div.form-label label {
  font-weight: normal;
}

.he_setting_fieldset legend {
  padding: 0 10px;
}

.settings .he_likes_settings .form-wrapper{
  border: none;
}

.settings .form-wrapper fieldset legend{
  background-color: white;
  clear: left;
  display: block;
  font-weight: bold;
  margin-top: -9px;
  padding: 0 14px;
  width: auto !important;
}